<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471421804988-1uh862gpnt6975md5l87sqjl2tg34c44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471421804988-1uh862gpnt6975md5l87sqjl2tg34c44</string>
	<key>API_KEY</key>
	<string>AIzaSyCvsXfkXnzvW5_w3kqSOTZp7xsg2DYjwZs</string>
	<key>GCM_SENDER_ID</key>
	<string>471421804988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yucedagemre.imokey</string>
	<key>PROJECT_ID</key>
	<string>imokey-9413a</string>
	<key>STORAGE_BUCKET</key>
	<string>imokey-9413a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471421804988:ios:4d1d2fda05c941f80bcbb9</string>
</dict>
</plist>